*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
}
h1{
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 3rem;
}
.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}
#count {
    margin-bottom: 1rem;
    font-size: 4rem;
}
.btns {
    margin-bottom: 1rem;
}
button{
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}